/* Container for grid layout */
.g {
    margin: 10px 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    text-align: center;
}

.items {
    background-color: #f7f0f0;
    padding: 20px;
    border-radius: 8px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}


.items:hover {
    background-color: rgb(170, 170, 170);
}

.items img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.items h4 {
    margin: 10px 0;
}


img {
    width: 100px;
    height: 100px;
}
.package{
    background-color:#00394d ;
}

body {
    font-style: italic;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: hsl(0, 0%, 97%);
}

.tourist-package {
    background-color:#ffffff;
}

.package-details h2 {
    color: #181717;
    margin-bottom: 20px;
}

.itinerary {
    margin-bottom: 20px;
    border-bottom: 2px solid #181515;
    padding-bottom: 20px;
}

.itinerary h3 {
    color: #000000;
    margin-top: 0;
}

.accommodation, .meals, .transport, .activities {
    margin-bottom: 15px;
}

.accommodation h4, .meals h4, .transport h4, .activities h4 {
    color: #1a1919;
}

.accommodation p, .meals ul, .transport p, .activities ul {
    margin: 5px 0;
}

.meals ul, .activities ul {
    list-style-type: none;
    padding: 0;
}

.meals ul li, .activities ul li {
    margin: 5px 0;
}

.additional-info {
    margin-top: 20px;
    color: #000000;
}

.additional-info ul {
    list-style-type: none;
    padding: 0;
}

.additional-info ul li {
    margin: 5px 0;
}

.section {
    background-color: #ffffff;
}

.travel-package h1 {
    color: #181717;
}

.section h2 {
    color: #181717;
    margin-bottom: 20px;
}

.day {
    margin-bottom: 20px;
    border-bottom: 2px solid #181515;
    padding-bottom: 20px;
}

.day h3 {
    color: #000000;
    margin-top: 0;
}

.day ul {
    list-style-type: none;
    padding: 0;
}

.day ul li {
    margin: 5px 0;
}

.hong {
    background-color: #fffdf8;
}

.card {
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #f7f0f0;
    margin-bottom: 20px; 
}

.card__content {
    flex: 1; 
    margin-left: 20px; 
}

.card__image-container {
    flex-shrink: 0; 
    text-align: right;
    border-radius: 10%;
   
}

.card__image-container img {
    max-width: 100%; 
    height: auto;
}
