.nav-section {
    width: 20%;
    background-color: black;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    color: white;
}

.nav-section a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.content-section {
    width: 80%;
    height: 100%;
    padding: 20px;
    color: #f0f0f0;
}

.section-content {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    color: #f0f0f0;
}

.image-container {
    position: relative;
    width: 200px;  /* Increased size */
    height: 200px; /* Increased size */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image-container img {
    width: 180px;  /* Increased size */
    height: 180px; /* Increased size */
    transition: transform 0.3s ease;
}

.image-container:hover {
    transform: scale(1.1);
}

.text-content {
    margin-left: 20px;
    color: #f0f0f0;
}
